# Build
.gradle
build

# IDE - Eclipse
.classpath
.project
.settings/

# IDE - IntelliJ
.idea/

# IDE - NetBeans
nb-configuration.xml
nbactions.xml
nbproject/

# Reference plugins
AFK-overlay-master
sailing-main
salvaging-plugin